Source: ipmisim
Section: admin
Priority: optional
Maintainer: Lyne Lin <lyne.lin@dell.com>, Jamie Zhuang <lanchongyizu@gmail.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.4

Package: ipmisim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: IPMI Simulator from OpenIPMI
